<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
    
</head>
<body>
	<header>  
    <nav>
      <ul class="nav-links">
        <li>
          <a class="nav-link" href="#">Home</a>
        </li>
        <li>
          <a class="nav-link" href="#">Text Assistance</a>
        </li>
        <li>
          <a class="nav-link" href="#">Voice Assistance</a>
        </li>
        <li>
          <a class="nav-link" href="#">Settings</a>
        </li>
		<li>
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </header>
	<!-- <img src= "../static/digital.jpg" class="bgimg"> -->
	<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmMxLjEwMyAwIDIgLjg5NyAyIDJ2N2MwIDEuMTAzLS44OTcgMi0yIDJzLTItLjg5Ny0yLTJ2LTdjMC0xLjEwMy44OTctMiAyLTJ6bTAtMmMtMi4yMDkgMC00IDEuNzkxLTQgNHY3YzAgMi4yMDkgMS43OTEgNCA0IDRzNC0xLjc5MSA0LTR2LTdjMC0yLjIwOS0xLjc5MS00LTQtNHptOCA5djJjMCA0LjQxOC0zLjU4MiA4LTggOHMtOC0zLjU4Mi04LTh2LTJoMnYyYzAgMy4zMDkgMi42OTEgNiA2IDZzNi0yLjY5MSA2LTZ2LTJoMnptLTcgMTN2LTJoLTJ2MmgtNHYyaDEwdi0yaC00eiIvPjwvc3ZnPg==" class="mic">
</body>
</html>