<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>

</head>
<body>
	<header>
    <nav>
      <ul class="nav-links">
		<li>
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li>
        </li>
		<li>
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul>
    </header>
	<div id="popupmic" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<img src="../static/mic.png" height="300" width="150" class="inPopmic">
		</div>
	</div>
	<div id="popuptext" class="modal">
    <div class="modal-content">
      <form class="" action="" method="post">
          <span class="closee">&times;</span>
          <label for="text">Type Here:</label>
          <input type="text" class="inPoptext" name="text" >
      </form>
    </div>
	</div>
	<img type="image" name="mic" class="mic" id="mike" src="../static/mic.png" height="300" width="250" >
	<div class="voice-commands">
		<textarea id="text-command-area" rows="4" cols="50"></textarea>
	</div>
	<img src="../static/fontT.png" height="300" width="250" class="fontt" id="texty">
	<div class="text-commands">
		<textarea rows="4" cols="50"></textarea>
	</div>
	<h1 class="none" >{{message}}</h1>
<script src = "../static/externaljs.js">
</script>
</body>
</html>
