<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename = 'externalcss.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Home</title>
</head>
<body>
	<header>
    <nav>
      <ul class="nav-links">
		<li>
          <a class="nav-link" href="">Home</a>
        </li>
        <li>
        </li>
		<li>
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </header>
	<div id="popupmic" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<img src="../static/mic.png" height="300" width="150" class="inPopmic">
		</div>
	</div>
	<div id="popuptext" class="modal">
    <div class="modal-content">
      <form class="" action="" method="post">
          <span class="closee">&times;</span>
          <label for="text">Type Here:</label>
          <input type="text" class="inPoptext" name="text" >
      </form>
    </div>
	</div>

  <img type="image" name="mic" class="mic" id="mike" src="{{url_for('static', filename = 'mic.png')}}" height="300" width="250" >
  <img src="{{url_for('static', filename = 'fontT.png')}}" height="300" width="250" class="fontt" id="texty">
  <h1 class="none" >{{message}}</h1>
  <script src = "{{url_for('static', filename = 'app2.js')}}"></script>
  <div class = "commands">
    <div class = "voice-commands">
      <h1>Voice-commands</h1>
      <h2>1.Youtube [name of the video]</h2>
      <h2>2.search [search in google]</h2>
      <h2>3.Wikipedia [what you want to search] <h3>search in wikipedia. which return you one line of the thing or others you searched</h3></h2>
      <h2>4.joke [tells you a programing joke]</h2>
      <h2>5.locate [place you want to locate]</h2>
      <h2>6.8ball [the text u want to predict]</h2>
      <h2>7.synonym of [any word]</h2>
      <h2>8.antonym of [any word]</h2>
      <h2>9.stack [error]</h2>
      <h2>10.amazon find [any product]</h2>
      <h2>11.flipkart find [any product]</h2>
    </div>
    <div class="text-commands">
      <h1>Text-commands</h1>
      <h2>1.Youtube [name of the video]</h2>
      <h2>2.search [search in google]</h2>
      <h2>3.stack [error]</h2>
      <h2>4.amazon find [any product]</h2>
      <h2>5.flipkart find [any product]</h2>
    <div >
  </div>

</body>
</html>
